body {
    background-color: #66ccff;
    font-size: medium;
    font-family: Verdana, Arial, sans-serif;
    margin: 10px 10px;
    padding: auto;
}

table {
    margin-left:      20px;
    margin-right:     20px;
    caption-side:     bottom;
    border-collapse:  collapse;
}

input[type=text] {
  font-size:        115%;
  width:            30em;}